---
import Layout from "../layouts/Layout.astro";
import FileUploader from "@/components/FileUploader";
---

<Layout title="Drag & Drop">
  <main>
    <h1>Upload Files...</h1>

    <FileUploader client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
		@apply text-gray-800 dark:text-white;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
		@apply text-2xl md:text-3xl lg:text-6xl;
  }
</style>
